<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtu.mapper.MomentMapper">
    <resultMap id="MomentMap" type="Moment">
        <id property="mid" column="mid"></id>
        <result property="uid" column="uid"></result>
        <result property="article" column="article"></result>
        <result property="creationdate" column="creationdate"></result>
        <result property="lovetimes" column="lovetimes"></result>
    </resultMap>
<!--    所有动态-->
    <select id="allMoments" resultMap="MomentMap">
        select * from moment
    </select>
<!--    点赞动态-->
    <update id="loveMoment">
        update moment set lovetimes=lovetimes+1 where mid=#{id}
    </update>
    <!--添加动态-->
    <insert id="insertMoment" parameterType="Moment">
        insert into moment(uid, article, creationdate, lovetimes)values(#{uid}, #{article}, #{creationdate}, 0)
    </insert>

    <!--搜索动态-->
    <select id="researchMoment" resultMap="MomentMap">
        select * from moment where article like '%${research}%'
    </select>
    <!--删除动态-->
    <delete id="deleteMoment">
        delete from moment where mid=#{mid}
    </delete>
</mapper>
